@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "preview-box.css";

* {
    box-sizing: border-box;
}

body {
    background-color: #f0eade;
    color: #020202;
    font-family: "Noto Sans KR";
    padding: 20px;
}
